body {
  //background-color: rgb(234, 234, 234) !important;
  margin: 0px;
}

navBar {
  // background-color: rgb(73, 80, 92) !important;
  margin: 0px;
}
.ui.inverted.top.fixed.menu {
  background-color: transparent;
}
/*home page styles*/

/*.home-page {
  display: flex;
  align-items: center;
  background-color: linear-gradient(rgba(216, 240, 250, 0.6)) !important ;
}*/

.masthead {
  display: flex;
  align-items: center;
  // background-image: url("../../assets/images/attachment-1.jpg") !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.react-tag-input {
  font-size: 14px; /* specific font size */
  font-size: 1.5rem; /* respon
  sive font size */
}
.react-tag-input {
  min-height: 60px;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.autoContainer {
  position: absolute;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: goldenrod;
  background-color: white;
  right: 10px;
  top: 52px;
  width: 520px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  padding: 5px;
}

/*end home page styles*/
